body, html {
    margin: 0;
    padding: 0;
    font-family: Merriweather, serif;
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg") 
}
.headerContainer {
    display: flex;
    justify-content: space-between; 
    background-color: pink;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 140px;
    }
    /* HOOVER with visibility */
.tooltip {
    position: relative;
    /*display:inline-block;*/
    margin-left: 30px;
    
}
.tooltip > a {
    color:rgb(29, 59, 124);
}
.tooltiptext {
    position: absolute;
    display: none;/*visibility: hidden;*/
    color: rgb(129, 7, 93);
    text-align: center;
    width: 90px;
    right: calc(-45px + 50%);
    margin-bottom: 10px;
}
.contact .tooltip:hover .tooltiptext {
    display: block; /*visibility: visible;*/
}
/* xxxxxxxxxxxxxxxxxxxxxx */
.email-mes {
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
}
.email-mes em {
    font-size: 0.8em;
}
.logo {
    display: flex;
    
    flex-direction: column;
}
.donkey {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
}
 .donkey i {
    font-size: 1.8em;   
}
.social {
    display: flex;
    flex-direction: row;
}
.tooltip1 {
    position: relative;
    margin-right: 30px;
}
.tooltip1 > a {
    color:rgb(29, 59, 124);
}
.tooltiptext1 {
    position: absolute;
    display: none;
    color: green;
    text-align: center;
    width: 90px;
    right: calc(-45px + 50%);
}
.social .tooltip1:hover .tooltiptext1 {
    display: block;
}
/* LIST */
.nav  {
    background-color: lightseagreen;
    display: flex;
    justify-content: space-evenly;

}
.menu .nav li {
    text-decoration: none; /* list-style: none; de ce nu merge ?*/
   
}
/*
.nav li {
    list-style: none;
    position:relative;
} */
ul.nav li {
    position:relative;
    list-style: none;
    background-color: rgb(183, 183, 202);
    border: 2px solid black;
    padding: 2px 15px;
    margin: 0px;
    width: 140px;
    text-align: center;
}
.menu .nav ul.nav-1 {
    position: absolute;
    text-align: center;
    width: 140px;
    right: calc(-68px + 50%);
    color: white;
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    display: none;
}
.menu ul.nav li:hover ul.nav-1 {
    display: block; 
}
ul.nav-1 li:hover {
    background-color: brown;
}
ul.nav-1 li {
    background-color: rgb(70, 70, 53);
    position: relative;
}
/*lista laterala nav-1-1*/
.menu .nav .nav-1 ul.nav-1-1 {
    position: absolute;
    right: -145px;
    width: 140px;
    display: none;
    list-style: none;
    margin-top: -13%;
}
ul.nav-1-1 li {
    position: relative;
    background-color: rgb(27, 107, 94);
    border: 2px solid black;
    width: 80px;
}
.menu ul.nav-1 li:hover ul.nav-1-1 {
    display: block;
}
/*lista laterala nav-1-1-1*/
.menu .nav .nav-1 .nav-1-1 ul.nav-1-1-1 {
    position: absolute;
    right: -145px;
    width: 140px;
    display: none;
    list-style: none;
    margin-top: -21%;
}
ul.nav-1-1-1 li {
    background-color: rgb(227, 236, 235);
    border: 2px solid rgb(53, 51, 51);
    width: 80px;
    color: black;
}
.menu .nav .nav-1 ul.nav-1-1 li:hover ul.nav-1-1-1 {
    display: block;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.menu .nav .nav-1 ul.nav-2 {
    position: absolute; /*merge cu position: relative */
    right: calc(-68px + 50%);
    display: none;
    width: 140px;
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
}
ul.nav-2 li {
    background-color: rgb(71, 5, 68);
    border: 2px dotted red;
    position: relative;
}
.menu ul.nav-1 li:hover .nav-2 {
    display: block;
} 
ul.nav-2 li:hover {
    background-color: brown;
}
ul.nav-3 li {
    background-color: rgb(96, 187, 96);
    border: 2px dotted rgb(197, 185, 10);
    color: black;
}

.menu .nav .nav-1 .nav-2 ul.nav-3 {
    position: absolute;
    right: calc(-69px + 50%);
    display: none;
    width: 140px;
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
}
.menu ul.nav-1 ul.nav-2 li:hover .nav-3 {
    display:block;
}

ul li:hover {
    background-color: brown;
}
